.pitch-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.pitches-table th, .pitches-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.pitches-table th {
    background-color: #333;
    text-align: center;
}

.pitches-table tbody tr:hover {
    cursor: pointer;
  }
  